<!-- begin hero -->
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="hero__inner">

          <div class="hero__left">
            <div class="hero__image">
              <img class="lazy" data-src="{{ site.data.settings.hero.hero__image }}" alt="{{site.data.settings.author.author__name}}'s Picture">
            </div>
          </div>

          <div class="hero__right">
            <h1 class="hero__title">{{ site.data.settings.hero.hero__title }}</h1>
            <p class="hero__description">
              I love creating stuff: programming, writing articles, designing graphics:
              anything that needs both your logical wires and a drop of creativity.
              That makes me 🔥.
              <br><br>
              I'm the co-founder of <u><a href="/quickbird">QuickBird</a></u>, a software agency focussing on the medical sector.
              This website shows some stuff I have been doing so far.
            </p>
            {% if site.data.settings.social %}
            <div class="social">
              <ul class="social__list list-reset">
                {% for social in site.data.settings.social %}
                <li class="social__item">
                  <a class="social__link" href="{{social.link}}" target="_blank" rel="noopener" aria-label="Social link"><i class="ion {{social.icon}}"></i></a>
                </li>
                {% endfor %}
              </ul>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end hero -->
